{% extends "base.html" %}
{%import '_macros.html' as macros%}

{% block selfcss %}
.span_herb{
  margin-top:5px;
  margin-bottom:5px;
  font-size:16px;
}
{% endblock %}

{% block selfjs %}
$(function(){
  $('#search_all').click(function() {
    $('input[name=search]').val('');
    $('#search_form').submit();
  });

  $('.del_fang').click(function() {
    if(confirm("真的要删除吗？"))
      return true;
    return false;
  });
});
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="col-xs-12 col-sm-12 col-md-12">
      <button class="btn btn-primary">
      <span>
          {{patient.c_name}}&nbsp;
          {{patient.c_age}}&nbsp;
          {{patient.c_sex}}&nbsp;
      </span>
      </button>&nbsp;
      <button class="btn btn-primary" 
        onclick="window.location.href='/index?m=cure&a=step1&pid={{patient.c_id}}';">
        <span class="glyphicon glyphicon-plus"> 开方</span>
      </button>
  </div>

  <div class="clearfix col-xs-12 col-md-12" style="margin-bottom:20px"></div>

  {% for row in data %}
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">{{row.c_date}}</div>
      <div class="panel-body">
        {{ macros.format_herbs(row.c_content) }}
      </div>
      <div class="panel-footer text-left">
        <a href="/index?m=fang&a=edit&id={{row.c_id}}&search={{search}}">
          <span class="glyphicon glyphicon-share"></span> 复用</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="del_fang" href="/index?m=fang&a=delete&id={{row.c_id}}">
          <span class="glyphicon glyphicon-trash"></span> 删除</a>
      </div>
    </div>
  </div>
  {% endfor %}

  <div class="clearfix col-xs-12 col-md-12">
    {% if pagination %}
    {{ macros.pagination_widget(pagination, 'index', '&m=fang&search='+search) }}
    {% endif %}
  </div>

</div>
{% endblock %}
